
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;

}


:focus {
    border: none;
}


$white-color:#fcfcfc;
$black-color :#231f20;
$black-color-variant :rgb(12, 12, 12);
$gray-color: #cfceca;
$container-lg: 50%;
$container-sm: 70%;
$container-md: 90%;
