@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Jost:ital,wght@0,300;0,400;0,500;1,400&family=Libre+Baskerville:wght@700&display=swap');
// font-family: 'Baskervville', serif;
// font-family: 'Jost', sans-serif;

body {
    background-color: $white-color;
    color: $black-color;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container{

        width: $container-lg;
        margin: 0 auto;

}