

header{

    height: 20rem;
    margin-top: 20rem;

    .section-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .chevrons {
            display: flex;
            align-self: flex-end;
            gap: .8rem;

            .pagination{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: solid 1px $gray-color;
                margin-top: 5px;

            }

            .active {
                background: $gray-color;
            }




            .chevron{
                font-size: 1.4rem;
                color: $black-color;
                cursor: pointer;
            }

            .active-chevron {
                background: $black-color;
            }

            .forward {
                color: $gray-color;
                cursor: auto;
            }

            
        }

        .image-container{
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            height: 300px;
            overflow: hidden;
            scroll-behavior: smooth;

            
            
            .article-group {
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
                grid-gap: 1rem;

                a{
                    .article-thumbnail {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Baskervville', serif;
                        height: 100%;
                        transition: all 200ms ease-in-out;
                        
                        small {
                            color: $gray-color;
                        }
                        h4{
                            // font-family: 'Libre Baskerville', serif;
                            padding-top: .5rem;
                            font-size: 1.2rem;
                            color: $black-color;
                        }
    
                        img {
                            max-width: 100%;
                            height: 150px;
                            object-fit: cover;
                            margin-bottom: 1rem;
                        }
    
                    }
                }

                .article-thumbnail:hover{
                    scale: 1.01;
                }
                
            }

        
            .non-active {
                display: none;
            }
            
        }
    }
}


// media queries


@media screen and (max-width: 2200px) {

    header{
        .container{
            width: $container-lg;
            .image-container{
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                height: 300px;
                overflow: hidden;
                scroll-behavior: smooth;
    
                
                
                .article-group {
                    display: grid;
                    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
                    grid-gap: 1rem;
    
                    a{
                        .article-thumbnail {
                            display: flex;
                            flex-direction: column;
                            font-family: 'Baskervville', serif;
                            height: 300px;
                            transition: all 200ms ease-in-out;
                            
                            small {
                                color: $gray-color;
                            }
                            h4{
                                // font-family: 'Libre Baskerville', serif;
                                padding-top: .5rem;
                                font-size: 1.2rem;
                                color: $black-color;
                            }
        
                            img {
                                max-width: 100%;
                                height: 40%;
                                object-fit: cover;
                                margin-bottom: 1rem;
                            }
        
                        }
                    }
    
                    .article-thumbnail:hover{
                        scale: 1.01;
                    }
                    
                }
    
            
                .non-active {
                    display: none;
                }
                
            }
            

        
        }
    }
}

@media screen and (max-width: 1700px) {

    header{
        .container{
            width: $container-sm;
            .image-container{
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                height: 300px;
                overflow: hidden;
                scroll-behavior: smooth;
    
                
                
                .article-group {
                    display: grid;
                    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
                    grid-gap: 1rem;
    
                    a{
                        .article-thumbnail {
                            display: flex;
                            flex-direction: column;
                            font-family: 'Baskervville', serif;
                            height: 100%;
                            transition: all 200ms ease-in-out;
                            
                            small {
                                color: $gray-color;
                            }
                            h4{
                                // font-family: 'Libre Baskerville', serif;
                                padding-top: .5rem;
                                font-size: 1.1rem;
                                color: $black-color;
                            }
        
                            img {
                                max-width: 100%;
                                height: 40%;
                                object-fit: cover;
                                margin-bottom: 1rem;
                            }
        
                        }
                    }
    
                    .article-thumbnail:hover{
                        scale: 1.01;
                    }
                    
                }
    
            
                .non-active {
                    display: none;
                }
                
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    header{

        height: 25rem;
        margin-top: 20rem;

        .container{
            width: $container-md;
           
            .image-container{
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                height: fit-content;
                overflow: hidden;
                scroll-behavior: smooth;
                
    
                
                
                .article-group {
                    grid-template-columns: repeat( 4, minmax(100px, 1fr) );
                    grid-gap: 1rem;
    
                    a{
                        .article-thumbnail {
                            display: flex;
                            flex-direction: column;
                            font-family: 'Baskervville', serif;
                            height: 200px;
                            padding-bottom: 2rem;
                            transition: all 200ms ease-in-out;
                            
                            
                            small {
                                color: $gray-color;
                            }
                            h4{
                                // font-family: 'Libre Baskerville', serif;
                                padding-top: .5rem;
                                font-size: 1rem;
                                color: $black-color;
                            }
        
                            img {
                                max-width: 100%;
                                height: 80%;
                                object-fit: cover;
                                margin-bottom: 1rem;
                            }
        
                        }
                    }
    
                    .article-thumbnail:hover{
                        scale: 1.01;
                    }
                    
                }
    
            
                .non-active {
                    display: none;
                }
                
            }


        
        }
    }
}

@media screen and (max-width: 1000px) {

    header{

        height: 25rem;
        margin-top: 20rem;
        
        .container{
            width: $container-md;
            

            .image-container{
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                height: fit-content;
                overflow: hidden;
                scroll-behavior: smooth;
                
    
                
                
                .article-group {
                    grid-template-columns: repeat( 4, minmax(100px, 1fr) );
                    grid-gap: 1rem;
    
                    a{
                        .article-thumbnail {
                            display: flex;
                            flex-direction: column;
                            font-family: 'Baskervville', serif;
                            height: 200px;
                            padding-bottom: 2rem;
                            transition: all 200ms ease-in-out;
                            
                            
                            small {
                                color: $gray-color;
                            }
                            h4{
                                // font-family: 'Libre Baskerville', serif;
                                padding-top: .5rem;
                                font-size: 1rem;
                                color: $black-color;
                            }
        
                            img {
                                max-width: 100%;
                                height: 70%;
                                object-fit: cover;
                                margin-bottom: 1rem;
                            }
        
                        }
                    }
    
                    .article-thumbnail:hover{
                        scale: 1.01;
                    }
                    
                }
    
            
                .non-active {
                    display: none;
                }
                
            }


        
        }
    }
}

@media screen and (max-width: 800px) {

    header{

        height: 25rem;
        margin-top: 20rem;
        
        .container{
            width: $container-md;
            

            .image-container{
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                height: fit-content;
                overflow: hidden;
                scroll-behavior: smooth;
                
    
                
                
                .article-group {
                    grid-template-columns: repeat( 3, minmax(100px, 1fr) );
                    grid-gap: 1rem;
    
                    a{
                        .article-thumbnail {
                            display: flex;
                            flex-direction: column;
                            font-family: 'Baskervville', serif;
                            height: 200px;
                            padding-bottom: 2rem;
                            transition: all 200ms ease-in-out;
                            
                            
                            small {
                                color: $gray-color;
                            }
                            h4{
                                // font-family: 'Libre Baskerville', serif;
                                padding-top: .5rem;
                                font-size: 1rem;
                                color: $black-color;
                            }
        
                            img {
                                max-width: 100%;
                                height: 70%;
                                object-fit: cover;
                                margin-bottom: 1rem;
                            }
        
                        }
                    }
    
                    .article-thumbnail:hover{
                        scale: 1.01;
                    }
                    
                }
    
            
                .non-active {
                    display: none;
                }
                
            }


        
        }
    }
}

@media screen and (max-width: 500px) {

    header{

        height: 40rem;
        margin-top: 15rem;
        
        .container{
            width: $container-md;
            

            .image-container{
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                height: fit-content;
                overflow: hidden;
                scroll-behavior: smooth;
                
    
                
                
                .article-group {
                    grid-template-columns: repeat( 2, minmax(100px, 1fr) );
                    grid-gap: 1rem;
    
                    a{
                        .article-thumbnail {
                            display: flex;
                            flex-direction: column;
                            font-family: 'Baskervville', serif;
                            height: 200px;
                            padding-bottom: 2rem;
                            transition: all 200ms ease-in-out;
                            
                            
                            small {
                                color: $gray-color;
                            }
                            h4{
                                // font-family: 'Libre Baskerville', serif;
                                padding-top: .5rem;
                                font-size: 1rem;
                                color: $black-color;
                            }
        
                            img {
                                max-width: 100%;
                                height: 70%;
                                object-fit: cover;
                                margin-bottom: 1rem;
                            }
        
                        }
                    }
    
                    .article-thumbnail:hover{
                        scale: 1.01;
                    }
                    
                }
    
            
                .non-active {
                    display: none;
                }
                
            }


        
        }
    }
}